# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mfrad\Documents\0CNA Mohammad Studies\000 Semester 8 Winter 2021\PR2460 Comprehensive Project\CapestoneProjectDatabase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
